# Imports

In [1]:
import pandas as pd
import glob
import numpy as np
from sqlalchemy import create_engine
import warnings

# Ignore Warnings
from pandas.errors import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

# ELT

## Read all the files

In [2]:
ht_path = "High Tension/"
lt_path = "Low Tension/"
ht_files = glob.glob(ht_path + "*.csv")
lt_files = glob.glob(lt_path + "*.csv")
ht_files.sort()
lt_files.sort()

## Years in data

In [3]:
year = ['2018-19', '2019-20', '2020-21', '2021-22', '2022-23']

## Files corresponding and its variables
*   0 --> 2018-19
*   1 --> 2019-20
*   2 --> 2020-21
*   3 --> 2021-22
*   4 --> 2022-23

In [4]:
ht = []
lt = []
for i in range(len(ht_files)):
  ht.append(pd.read_csv(ht_files[i]))
  lt.append(pd.read_csv(lt_files[i]))

## Get Index of NULL Values in the data

In [5]:
ht_index = []
lt_index = []
for i in range(len(ht)):
  ht_index.append(np.where(ht[i]['Sl. No.'].isnull() == True)[0])
  lt_index.append(np.where(lt[i]['Sl. No.'].isnull() == True)[0])

## Change adding Bengaluru to end of cities

In [6]:
for i in range(len(ht)):
    ht[i]['Divisions'] = ht[i]['Divisions'] + ", Bengaluru"
    lt[i]['Divisions'] = lt[i]['Divisions'] + ", Bengaluru"

## Changing Sl No so that it division corresponds with its area

In [7]:
for x in range(len(ht)):
    # For ht data
    ht_prev = 0
    ht_mapper = 1
    for i in ht_index[x]:
        ht[x]['Sl. No.'].iloc[ht_prev:i] = ht_mapper
        ht_mapper += 1
        ht_prev = i + 1
        
    # For lt data
    lt_prev = 0
    lt_mapper = 1
    for i in ht_index[x]:
        lt[x]['Sl. No.'].iloc[lt_prev:i] = lt_mapper
        lt_mapper += 1
        lt_prev = i + 1

## Creating new DataFrames to store Null values which are wards in Bengaluru

In [8]:
ht_area_data = []
lt_area_data = []
for i in range(len(ht)):
    ht_area_data.append(pd.DataFrame(data=ht[i].iloc[ht_index[i]]))
    lt_area_data.append(pd.DataFrame(data=lt[i].iloc[lt_index[i]]))

## Making SL. No. of wards and their respective areas same

In [9]:
for x in ht_area_data:
    ind = 1
    for i in x.index:
        x.at[i, 'Sl. No.'] = ind
        ind += 1
        
for x in lt_area_data:
    ind = 1
    for i in x.index:
        x.at[i, 'Sl. No.'] = ind
        ind += 1

## Dropping the null values from the database

In [10]:
for i in range(len(ht)):
    ht[i].dropna(inplace=True)
    lt[i].dropna(inplace=True)

## Concatenate the cleaned data for better visualization

In [11]:
ht[0] = ht[0].iloc[:, [0,1,-1]]
ht[0].rename(columns = {'Total Cable Length (km)':'HT (km)' + year[0]}, inplace = True)

In [12]:
for i in range(1, len(ht)):
  ht[i] = ht[i].iloc[:, [-1]]
  ht[i].rename(columns = {'Total Cable Length (km)':'HT (km)' + year[i]}, inplace = True)

for i in range(len(ht)):
  lt[i] = lt[i].iloc[:, [-1]]
  lt[i].rename(columns = {'Total Cable Length (km)':'LT (km)' + year[i]}, inplace = True)

In [13]:
result = pd.concat([ht[0], lt[0]], axis=1, join='inner')
for i in range(1, len(ht)):
    result = pd.concat([result, ht[i], lt[i]], axis=1, join='inner')

In [14]:
result['Sl. No.'].mask(result['Sl. No.'] == 1, 'East Circle', inplace=True)
result['Sl. No.'].mask(result['Sl. No.'] == 2, 'South Circle', inplace=True)
result['Sl. No.'].mask(result['Sl. No.'] == 3, 'West Circle', inplace=True)
result['Sl. No.'].mask(result['Sl. No.'] == 4, 'North Circle', inplace=True)
result['Sl. No.'].mask(result['Sl. No.'] == 5, 'Blore Rural Circle', inplace=True)
result['Sl. No.'].mask(result['Sl. No.'] == 6, 'Ramnagar Circle', inplace=True)
result['Sl. No.'].mask(result['Sl. No.'] == 7, 'Kolar Circle', inplace=True)
result['Sl. No.'].mask(result['Sl. No.'] == 8, 'Tumkur Circle', inplace=True)
result['Sl. No.'].mask(result['Sl. No.'] == 9, 'Davanagere Circle', inplace=True)

# Create Database

In [15]:
connection_string = "mysql+mysqlconnector://root:root@localhost:3306/bescom"
engine = create_engine(connection_string, echo=True)

In [16]:
result.to_sql(name="division",con=engine)

2023-09-27 11:52:30,054 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-09-27 11:52:30,055 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-27 11:52:30,057 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-09-27 11:52:30,058 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-27 11:52:30,060 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-09-27 11:52:30,061 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-27 11:52:30,064 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-27 11:52:30,072 INFO sqlalchemy.engine.Engine DESCRIBE `bescom`.`division`
2023-09-27 11:52:30,073 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-27 11:52:30,080 INFO sqlalchemy.engine.Engine
CREATE TABLE division (
	`index` BIGINT,
	`Sl. No.` TEXT,
	`Divisions` TEXT,
	`HT (km)2018-19` FLOAT(53),
	`LT (km)2018-19` FLOAT(53),
	`HT (km)2019-20` FLOAT(53),
	`LT (km)2019-20` FLOAT(53),
	`HT (km)2020-21` FLOAT(53),
	`LT (km)2020-21` FLOAT(53),
	`HT (km)2021-22` FLOAT(53),
	`LT (km)2021-22` FLOAT(53),
	`HT (km)2022-23` FLOAT(53),
	`LT (km)2022-23` FLOAT(53)
)


2023-09-27 11:52:30,082 INFO sqlalchemy.engine.Engine [no key 0.00174s] {}
2023-09-27 11:52:30,274 INFO sqlalchemy.engine.Engine CREATE INDEX ix_division_index ON division (`index`)
2023-09-27 11:52:30,274 INFO sqlalchemy.engine.Engine [no key 0.00087s] {}
2023-09-27 11:52:30,417 INFO sqlalchemy.engine.Engine INSERT INTO division (`index`, `Sl. No.`, `Divisions`, `HT (km)2018-19`, `LT (km)2018-19`, `HT (km)2019-20`, `LT (km)2019-20`, `HT (km)2020-21`, `LT (km)2020-21`, `HT (km)2021-22`, `LT (km)2021-22`, `HT (km)2022-23`, `LT (km)2022-23`) VALUES (%(index)s, %(Sl__No_)s, %(Divisions)s, %(HT_AkmZ2018-19)s, %(LT_AkmZ2018-19)s, %(HT_AkmZ2019-20)s, %(LT_AkmZ2019-20)s, %(HT_AkmZ2020-21)s, %(LT_AkmZ2020-21)s, %(HT_AkmZ2021-22)s, %(LT_AkmZ2021-22)s, %(HT_AkmZ2022-23)s, %(LT_AkmZ2022-23)s)
2023-09-27 11:52:30,417 INFO sqlalchemy.engine.Engine [generated in 0.00110s] [{'index': 0, 'Sl__No_': 'East Circle', 'Divisions': 'Indiranagar, Bengaluru', 'HT_AkmZ2018-19': 1054.285, 'LT_AkmZ2018-19': 2681.24, 'HT_AkmZ2019-20': 1068.665, 'LT_AkmZ2019-20': 2683.81, 'HT_AkmZ2020-21': 1081.045, 'LT_AkmZ2020-21': 2681.9, 'HT_AkmZ2021-22': 683.703, 'LT_AkmZ2021-22': 575.525, 'HT_AkmZ2022-23': 730.073, 'LT_AkmZ2022-23': 542.981}, {'index': 1, 'Sl__No_': 'East Circle', 'Divisions': 'Whitefield, Bengaluru', 'HT_AkmZ2018-19': 33.64, 'LT_AkmZ2018-19': 68.81, 'HT_AkmZ2019-20': 57.86, 'LT_AkmZ2019-20': 194.95, 'HT_AkmZ2020-21': 84.215, 'LT_AkmZ2020-21': 206.165, 'HT_AkmZ2021-22': 643.66, 'LT_AkmZ2021-22': 805.145, 'HT_AkmZ2022-23': 730.426, 'LT_AkmZ2022-23': 862.791}, {'index': 2, 'Sl__No_': 'East Circle', 'Divisions': 'Shivajinagar, Bengaluru', 'HT_AkmZ2018-19': 774.3, 'LT_AkmZ2018-19': 1469.793, 'HT_AkmZ2019-20': 792.6, 'LT_AkmZ2019-20': 1477.113, 'HT_AkmZ2020-21': 889.308, 'LT_AkmZ2020-21': 1540.784, 'HT_AkmZ2021-22': 954.928, 'LT_AkmZ2021-22': 1082.733, 'HT_AkmZ2022-23': 1157.148, 'LT_AkmZ2022-23': 1136.056}, {'index': 3, 'Sl__No_': 'East Circle', 'Divisions': 'Vidhana Soudha, Bengaluru', 'HT_AkmZ2018-19': 356.24, 'LT_AkmZ2018-19': 558.73, 'HT_AkmZ2019-20': 481.83, 'LT_AkmZ2019-20': 752.63, 'HT_AkmZ2020-21': 488.555, 'LT_AkmZ2020-21': 755.185, 'HT_AkmZ2021-22': 342.575, 'LT_AkmZ2021-22': 375.204, 'HT_AkmZ2022-23': 365.173, 'LT_AkmZ2022-23': 381.505}, {'index': 5, 'Sl__No_': 'South Circle', 'Divisions': 'Jayanagar, Bengaluru', 'HT_AkmZ2018-19': 1283.48, 'LT_AkmZ2018-19': 2334.433, 'HT_AkmZ2019-20': 1312.91, 'LT_AkmZ2019-20': 2339.643, 'HT_AkmZ2020-21': 1322.76, 'LT_AkmZ2020-21': 2345.133, 'HT_AkmZ2021-22': 1196.865, 'LT_AkmZ2021-22': 2354.033, 'HT_AkmZ2022-23': 1300.585, 'LT_AkmZ2022-23': 1856.793}, {'index': 6, 'Sl__No_': 'South Circle', 'Divisions': 'Koramangala, Bengaluru', 'HT_AkmZ2018-19': 817.32, 'LT_AkmZ2018-19': 1257.444, 'HT_AkmZ2019-20': 830.64, 'LT_AkmZ2019-20': 1230.404, 'HT_AkmZ2020-21': 858.01, 'LT_AkmZ2020-21': 1241.024, 'HT_AkmZ2021-22': 909.152, 'LT_AkmZ2021-22': 1258.614, 'HT_AkmZ2022-23': 926.152, 'LT_AkmZ2022-23': 1268.634}, {'index': 7, 'Sl__No_': 'South Circle', 'Divisions': 'HSR, Bengaluru', 'HT_AkmZ2018-19': 2044.88, 'LT_AkmZ2018-19': 2649.637, 'HT_AkmZ2019-20': 2127.51, 'LT_AkmZ2019-20': 2739.377, 'HT_AkmZ2020-21': 2163.91, 'LT_AkmZ2020-21': 2692.317, 'HT_AkmZ2021-22': 2142.558, 'LT_AkmZ2021-22': 2630.594, 'HT_AkmZ2022-23': 2181.268, 'LT_AkmZ2022-23': 2697.294}, {'index': 9, 'Sl__No_': 'West Circle', 'Divisions': 'Kengeri, Bengaluru', 'HT_AkmZ2018-19': 1293.087, 'LT_AkmZ2018-19': 1953.59, 'HT_AkmZ2019-20': 1346.832, 'LT_AkmZ2019-20': 2008.277, 'HT_AkmZ2020-21': 1381.467, 'LT_AkmZ2020-21': 2060.184, 'HT_AkmZ2021-22': 1470.302, 'LT_AkmZ2021-22': 1969.031, 'HT_AkmZ2022-23': 1510.582, 'LT_AkmZ2022-23': 2296.551}  ... displaying 10 of 26 total bound parameter sets ...  {'index': 37, 'Sl__No_': 'Davanagere Circle', 'Divisions': 'Chitradurga, Bengaluru', 'HT_AkmZ2018-19': 7463.46, 'LT_AkmZ2018-19': 12002.93, 'HT_AkmZ2019-20': 7160.815, 'LT_AkmZ2019-20': 6746.33, 'HT_AkmZ2020-21': 7668.085, 'LT_AkmZ2020-21': 7167.97, 'HT_AkmZ2021-22': 7738.495, 'LT_AkmZ2021-22': 7273.26, 'HT_AkmZ2022-23': 7994.265, 'LT_AkmZ2022-23': 7420.645}, {'index': 38, 'Sl__No_': 'Davanagere Circle', 'Divisions': 'Hiriyur, Bengaluru', 'HT_AkmZ2018-19': 6146.765, 'LT_AkmZ2018-19': 10587.754, 'HT_AkmZ2019-20': 7924.65, 'LT_AkmZ2019-20': 12102.01, 'HT_AkmZ2020-21': 8405.35, 'LT_AkmZ2020-21': 12292.43, 'HT_AkmZ2021-22': 8787.8, 'LT_AkmZ2021-22': 12380.84, 'HT_AkmZ2022-23': 9199.78, 'LT_AkmZ2022-23': 12391.52}]
2023-09-27 11:52:30,546 INFO sqlalchemy.engine.Engine COMMIT

26